body {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}
h1 { 
	font-size: 17.5px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-rendering: optimizelegibility;
}
/*ul { padding: 0; }
dt { }
dt img { width: 16px; height: 16px; margin-right: 4px; }
dd { }*/

td img { width: 16px; height: 16px; margin-right: 4px; }